<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBeh">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="WcfChat.ServiceChat" behaviorConfiguration="mexBeh">
        <endpoint address="" binding="netTcpBinding" contract="WcfChat.IServiceChat" bindingConfiguration="TcpBinding" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <!--! Поменять для реального использования, для клиента изменить ссылку-->
            
            <add baseAddress="http://192.168.1.105:8301" />
            <add baseAddress="net.tcp://192.168.1.105:8302" />
          </baseAddresses>
        </host>        
      </service>      
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="TcpBinding">
          <security mode="Message">
            <transport sslProtocols="Tls" />
          </security>                    
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SQLitePCLRaw.core" publicKeyToken="1488e028ca7ab535" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.9.2410" newVersion="2.1.9.2410" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SQLitePCLRaw.batteries_v2" publicKeyToken="8226ea5df37bcae9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.9.2410" newVersion="2.1.9.2410" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>